$gold-D: #816938;
$gold: #ac8c4b;
$gold-1S: #c6ae7d;
$gold-2S: #d4c29d;
$gold-3S: #e2d6bd;
$gold-4S: #f0eadd;
$gold-5S: #f9f7f2;

$green-D: #269e87;
$green: #2fc3a7;
$green-1S: #58d7bf;
$green-2S: #8ae3d2;
$green-3S: #afece0;
$green-4S: #d4f5ee;
$green-5S: #f5fcfb;

$navy-D: #3b4b5b;
$navy: #536a80;
$navy-1S: #8198ae;
$navy-2S: #b0becc;
$navy-3S: #dee4ea;
$navy-4S: #f1f3f6;
$navy-5S: #f8f9fa;

$white: #ffffff;

$pink-D: #ff3265;
$pink: #ff658b;
$pink-1S: #ff7698;
$pink-2S: #ff98b2;
$pink-3S: #ffbacb;
$pink-4S: #ffdce5;
$pink-5S: #ffedf1;

$red-D: #e73613;
$red: #f0684e;
$red-1S: #f3836d;
$red-2S: #f69e8c;
$red-3S: #f9c6bb;
$red-4S: #fce0db;
$red-5S: #fdeeea;

$orange-D: #e67300;
$orange: #ff952b;
$orange-1S: #ffa64d;
$orange-2S: #ffbf80;
$orange-3S: #ffd9b3;
$orange-4S: #ffead5;
$orange-5S: #fff2e6;

$blue-D: #1298d1;
$blue: #49beef;
$blue-1S: #78cef3;
$blue-2S: #97daf6;
$blue-3S: #b6e5f9;
$blue-4S: #d5f0fb;
$blue-5S: #f5fbfe;
