@import "shared/colors";

.flash-message {
  font-size: 13px;
  height: 23px;

  .flash-message__danger {
    background-color: $red-3S;
  }

  .flash-message__success {
    background-color: $green-3S;
  }

  .flash-message__container {
    width: 500px;
    margin: 0 auto;
    padding-left: 35px;
    vertical-align: middle;
    line-height: 23px;
  }
}
