.footer {
  margin-top: 80px;
  background-color: #f9f7f2;
  padding: 5px 0;


  .footer__contents {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    counter-reset:item;
  }

  .footer__content {
    width: 200px;
    margin-bottom: 10px;
  }

  .footer__content-title {
    color: #3b4b5b;
    border-bottom: 1px solid #d4c29d;
    font-size: 18px;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }

  .footer__content-item {
    color: #3b4b5b;
    font-size: 12px;
    line-height: 1.5;
  }

  .footer__corporation {
    width: 800px;
    margin: 0 auto;
  }

  .footer__corporation-information {
    color: #3b4b5b;
    font-size: 12px;
    line-height: 1.4;
  }

  .footer__corporation-title {
    color: #3b4b5b;
    font-size: 12px;
    display: inline-block;
  }

  .footer__corporation-title::after {
    content: " | ";
    color: #b0becc;
    font-size: 12px;
  }
}
