.header {
  background-color: #84D7E5;
  height: 57px;
  width: 100%;

  .header__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-align: center;
  }
}
