- if @users
  - @users.each do |user|
    %div
      = user.name
      = link_to "有効化", authorize_path(user),
                      data: { confirm: "このユーザーを有効化しますか?" }
      = link_to "削除", user_path(user), method: :delete,
                        data: { confirm: "このユーザーを削除しますか?" }
  .apple_pagination
    = will_paginate @users
- else
  申請中のユーザーはいません。
