@import "shared/colors";

.tradelog {
  width: 700px;
  margin: 0 auto;

  .tradelog__title{
    border-bottom: 3px solid $gold;
    margin-bottom: 10px;
  }

  .trade__table {
    width: 650px;
    padding: 0 25px;
  }

  .tradelog__item-container{
    display: block;
    margin: 5px 0 20px;
    border-bottom: 1px solid $gold-3S;
  }

  .tradelog__td {
    margin-right: 10px;
  }

  .tradelog__name-label {
    display: inline-block;
    margin-right: 30px;
  }

  .trade__log-amount {
    display: flex;
  }

  .tradelog__symbol {
    padding: 5px 10px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    font-weight: bold;

    &.-plus {
      color: $pink-2S;
    }

    &.-minus {
      color: $blue-2S;
    }
  }

  .tradelog__amount-label {
    font-size: 30px;
  }

  .tradelog__date-label {
    display: block;
    text-align: right;
    font-size: 12px;
    color: $navy-1S;
    margin-top: -15px;
  }
}
