@import "shared/colors";
@import "shared/form-container-mixin";

.trade-form {
  @include form-layout;

  .trade-form__title {
    padding: 10px 10px 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .trade-form__status-bar {
    list-style: none;
    margin-top: -15px;
  }

  .trade-form__status-bar-item-wrapper {
    display: inline-block;
    text-decoration: none;
    background-color: $gold-4S;
    position: relative;
    margin-right: -5px;

    &[aria-current="step"] {
      background-color: $gold-2S;
      color: $white;

      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        top: 0px;
        right: 0px;
        border-top: 17.82px solid $gold-4S;
        border-bottom: 17.82px solid $gold-4S;
        border-left: 17.82px solid $gold-2S;
        margin-left: 150px;
      }

      .trade-form__status-bar-step-text {
        color: $white;
      }
    }
  }

  .trade-form__status-bar-item {
    padding: 5px 11px 5px 20px;
  }

  .trade-form__status-bar-step-number {
    color: $gold-2S;
    font-size: 13px;
    padding: 3px 5px;
    background-color: $white;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .trade-form__status-bar-step-text {
    color: $gold-1S;
    padding: 0 55px 0 20px;
    vertical-align: middle;
  }

  .trade-form__right-arrow {
    color: $white;
    background-color: $gold-4S;
    font-weight: bold;
  }
}
