@import "shared/colors";
@import "shared/form-container-mixin";

.trade-form {
  @include form-layout;

  .trade-form__title {
    @include form-layout__title($gold-1S);
  }

  .trade-form__status-bar {
    list-style: none;
  }

  .trade-form__status-bar-item-wrapper {
    display: inline-block;
    text-decoration: none;
    background-color: $gold-2S;
  }

  .trade-form__status-bar-item {
    padding: 5px 30px;
  }

  .trade-form__status-bar-step-number {
    color: $gold-2S;
    font-size: 13px;
    padding: 3px 5px;
    background-color: $white;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .trade-form__status-bar-step-text {
    color: $white;
  }
}
