%div{ class: "flash-container" }
%div{ data: { controller: "friend-search tab-layout" } }
  .serarch__field
    %input{ placeholder: "名前を入力", data: { target: "friend-search.keyword" } }
    %input{ value: "検索", type: :button, data: { action: "click->friend-search#search click->tab-layout#close" } }
    .alia{ data: { target: "friend-search.result" }, "aria-disabled": "true" }
  .tabs
    %span{ data: { action: "click->friend-search#close click->tab-layout#switch", target: "tab-layout.tab" } }友達一覧
    %span{ data: { action: "click->friend-search#close click->tab-layout#switch", target: "tab-layout.tab" } }友達リクエスト
    %span{ data: { action: "click->friend-search#close click->tab-layout#switch", target: "tab-layout.tab" } }承認待ちユーザー
  .contents
    .alia{ data: { target: "tab-layout.content" }, aria: { disabled: "false" } }
      - if @friends.present?
        - @friends.each do |user|
          %div
            = link_to user.name, user_path(user)
      - else
        %div 友達がいません
    .alia{ data: { target: "tab-layout.content" }, aria: { disabled: "true" } }
      - if @followings.present?
        - @followings.each do |user|
          %div
            = link_to user.name, user_path(user)
            %input{ type: :button, data: { action: "click->relationships#unfollow" }, value: "フォローを取り消す" }
      - else
        %div 友達リクエストを送ってみましょう！
    .alia{ data: { target: "tab-layout.content" }, aria: { disabled: "true" } }
      - if @followers.present?
        - @followers.each do |user|
          %div{ data: { controller: "relationships", relationships: { id: user.id } } }
            = link_to user.name, user_path(user)
            %input{ type: :button, data: { action: "click->relationships#follow" }, value: "フォローする" }
      - else
        %div 友達リクエストはありません
