.signup-form{
  .signup-form__main {
    margin-top: 20px;
  }

  .signup-form__button-container {
    text-align: center;
  }

  .signup-form__button {
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    margin: 10px 10px 15px;
    background-color: #FFD034;
    border-style: none;
    border-radius: 5px;
    font-size: 12px;
  }

  .signup-form__field-container {
    display: flex;
    border: 1px solid #e4e2e2;
    margin: 5px 10px;
  }

  .signup-form__field {
    width: 420px;
    height: 30px;
    outline: 0;
    border: 0px;
    padding-left: 15px;
  }

  .signup-form__field::placeholder {
    padding: 10px;
    vertical-align: middle;
  }

  .signup-form__icon {
    color: #757575;
    background-color: #f0f0f0;
    height: 33px;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 33px;
    font-size: 15px;
  }
}
