%footer.footer
  .footer__contents
    .footer__content
      %h4.footer__content-title MPay
      %ul
        %li.footer__content-item MPayの使いかた
        %li.footer__content-item 新規登録キャンペーン


    .footer__content
      %h4.footer__content-title MPay対応式場
      %ul
        %li.footer__content-item 対応式場一覧

    .footer__content
      %h4.footer__content-title マイページ
      %ul
        %li.footer__content-item ログインする
        %li.footer__content-item 新規登録


  .footer__corporation
    %h4.footer__corporation-information 企業情報
    %ul
      %li.footer__corporation-title 会社概要
      %li.footer__corporation-title プライバシーポリシー
      %li.footer__corporation-title 広告掲載のご案内
